
@{
    ViewBag.Title = "Them sinh vien moi";
}

<h2>Them moi sinh vien</h2>
<hr/>
@Html.BeginForm(){ 
<div>
    @Html.Label("Ho ten")
    @Html.TextBox("fullname")
</div>
<div>
    @Html.Label("Ma so")
    @Html.TextBox("MASV")
</div>
<div>
    @Html.Label("Tai khoan")
    @Html.TextBox("taikhoan",, new {class="from-control"})
</div>
<div>
    @Html.Label("Mat khau")
    @Html.Password("matkhau")
    @Html.Password("matkhau")
</div>
}

